*.mp4
*.pdf
*.exe
node_modules
.env

#Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

#Backup files
*.Bak

#Python
*.py[cod]
*$py.clas

#Distribution/packaging
.Python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec


#Installer logs
pip-log.txt
pip-delete-this-directory.txt

#Unit test/coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetest.xml
coverage.xml
*.cover
.hypothesis/

#Juputer Notebook
.ipynb_checkpoints

#pyenv
.python-version

#celery
celerybeat-schedule.*

#SageMath parsed files
*.sage.py

#Environmetns
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#mkdocs documentation
/site 

#mypy
.mypy_cache/

#sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

#sftp configuration file
sftp-confi.json

# Package control specific files package
Control.last-run
Control.ca-list
Control.ca-bumdle
Control.system-ca-bumble
GitHub.sublime-settings

#Visual studio code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

#Personal additions
__pycache__/
*.pyc 
__localdode
venv
env
.DS_Store
local_settings.py
__local_settings.py 
static/

#Add again for course purpose
!db.sqlite3