@tailwind base;
@tailwind components;
@tailwind utilities;

.destaque{
    background-color: brown;
    color: #fff
}

.campoForm{
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.inputDados{
    border: 1px solid #000;
    padding: .25rem;
    width: 100%;
    border-radius: .5rem;
}

.botaoDados{
    background-color: rgb(49 46 129);
    color: #fff;
    padding: .25rem;
    border-radius: .5rem;
    cursor: pointer;
}

.grid{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.gridLinhaTitulos{
    background-color: rgb(49 46 129);
    color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.gridTitulos{
    width: 20%;
}

.gridLinhaDados{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.gridLinhas{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.gridLinha{
    display: flex;
    flex-direction: row;
    width: 100%;
}